**/bin/
**/obj/
**/nasa_power_weather_data/
*~
*.DS_Store
**/__pycache__/
**/*.egg-info/
*.svg
*.png
*.dll
*.exe
*.db

.pytest_cache/

.vscode/

.github/

.git/
.gitignore
.gitattributes

# Segfaults
.pixi/
pixi.toml
pixi.lock

Tests/
Prototypes/
Docs/
Dockerfiles/

.dockerignore
.beamignore
n8n_tool/
!n8n_tool/main.py
!n8n_tool/launch_local.sh
!n8n_tool/environment.yml
!n8n_tool/beam_cloud_base_requirements.txt
