**/bin/
**/obj/
*~
*.DS_Store
**/__pycache__/

.git/
.gitignore

.pixi/

Tests/
Prototypes/
Docs/
Dockerfiles/
Documentation/

.dockerignore
n8n_tool/
!n8n_tool/main.py
!n8n_tool/launch_local.sh
!n8n_tool/environment.yml